@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron bg-dark" style="margin-top: 3%; margin-right: 0px;margin-left: 0px">
    <h1 align="center" style="font-weight: bold;color: whitesmoke">University Course and Registration Management System</h1>
</div>

<div class="row" style="margin-bottom: 5%; ">
    
    <div class="card text-white bg-dark col-md-4" style="">
        <div class="card-header">Feature 1</div>
        <div class="card-body">
            <h4 class="card-title text-primary">Department Information</h4>
            <p class="card-text">On This Section We can save Department and view all Departments.</p>
            
        </div>
        <div class="card-footer">
            <a href="#" class="btn btn-primary">Go Department Section</a>
        </div>
    </div>
    <div class="card text-white bg-dark col-md-4" style="">
        <div class="card-header ">Feature 2</div>
        <div class="card-body">
            <h4 class="card-title text-primary">Course information</h4>
            <p class="card-text">Here students are able to make online course registration and they can view course statistics.On this section you can assign lecturers to deal courses.The lecturers can see how many credits they taken and how many credits more he should take</p>
            
        </div>
        <div class="card-footer">
            <a href="#" class="btn btn-primary">Go Course Section</a>
        </div>
    </div>
    <div class="card text-white bg-dark col-md-4" style="max-width: ;">
        <div class="card-header">Feature 3</div>
        <div class="card-body">
            <h4 class="card-title text-primary">Teacher Information</h4>
            <p class="card-text">Here you can all the information related Faculty Members.Here</p>
        </div>
        <div class="card-footer">
            <a href="#" class="btn btn-primary">Go Teacher Section</a>
        </div>
    </div>
    <div class="card text-white bg-dark col-md-6" style="max-width: ;">
        <div class="card-header">Feature 4</div>
        <div class="card-body">
            <h4 class="card-title text-primary">Student Information</h4>
            <p class="card-text">A new new student can make his/her registration.The students can see the results of the existing semester.The Students can download the pdf file of result sheet.</p>
            
        </div>
        <div class="card-footer">
            <a href="#" class="btn btn-primary">Go Student Section</a>
        </div>
    </div>
    <div class="card text-white bg-dark col-md-6" style="max-width: ;">
        <div class="card-header">Feature 5</div>
        <div class="card-body">
            <h4 class="card-title text-primary">Classroom Information</h4>
            <p class="card-text">On This Section you can assign classroom setup the class schedules.After the end of semester admin can un-assign all class info to set for new semester.</p>
            
        </div>
        <div class="card-footer">
            <a href="#" class="btn btn-primary">Go Classroom Section</a>
        </div>
    </div>
</div>